{% load leaflet_tags %}
{% load geojson_tags %}
<html>
 <head>
 <title>Agricom Map Portal</title>
 
 </head>
 <body>
{% block extra_assets %}
  {% leaflet_js %}
  {% leaflet_css %}
{% endblock %}

     <div id="agrimap" style="height: 100% ; width:100%;"></div>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
var map = L.map('agrimap').setView([54.8,-4.45],6);
 var osm = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { maxZoom: 19,attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>' });
//osm.addTo(map);
map.addLayer(osm);

 var chambre= L.geoJson(null, {
 pointToLayer: function (feature, latlng) {
 return L.marker(latlng, {
 icon: L.icon({
 iconUrl: '/static/map-marker-icon.png',
 iconSize: [28, 32],
 iconAnchor: [12, 28],
 popupAnchor: [0, -25]
 }),
 title: feature.properties.title,
 riseOnHover: true
 });
 },
}).addTo(map);
var chambreUrl = 'http://127.0.0.1:8000/chambre/'; 
$.getJSON(chambreUrl, function (data) {
 chambre.addData(data);
});
</script>

 </body>




</html>
